# Supabase Configuration
SUPABASE_URL=https://lfatskduuzwdqoomtphh.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key_here
DB_PASSWORD=nyjBIhshyxETVCWJ

# Server
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
